@{
    ViewBag.Title = "Home Page";
}

<main>
    <form method="post">
        <div>
            <label for="id">ID: </label>
            <input name="id" id="id" type="number" />
        </div>
        <br />
        <div>
            <label for="name">Name: </label>
            <input name="name" id="name" type="text" />
        </div>
        <br />
        <div>
            <label for="image">Image: </label>
            <select id="image" name="image">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
        <br />
        <button type="submit">Submit</button>
    </form>
</main>