
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<p>Your ID is: @ViewBag.data["id"]</p>
<p>Your Name is: @ViewBag.data["name"]</p>
<img src="~/Content/images/@ViewBag.data["image"]" width="500" />
